/*Fondos de pantalla*/
body {
  /*background-image: url("../img/fondo1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;*/

  background: url("../img/fondo1.jpg") no-repeat fixed;
  background-size: cover;
}

#fondo-opaco {
  background-color: rgba(240, 240, 240, 90%);
}

/*Agrandar links del menú al pasar el mouse*/
.nav-link {
  transition: ease-in-out 0.3s;
}
.nav-link:hover {
  transform: scale(1.05);
}


/*Agrandar tarea al pasar el mouse*/
#seccion-tareas .col-tarea a {
  overflow: hidden;
  text-decoration: none;
}
#seccion-tareas .col-tarea {
  transition: transform 0.5s ease;
}
#seccion-tareas .col-tarea:hover {
  transform: scale(1.03);
  cursor: pointer;
}


/*Dropdown multinivel para menú de filtros*/
.dropdown-menu li {
  position: relative;
}
.dropdown-menu .submenu {
  display: none;
  position: absolute;
  left: 100%;
  top: -3px;
}
.dropdown-menu>li:hover>.submenu {
  display: block;
}