{%extends 'base.html'%}

{% block title %} Home {% endblock %}


{% block content %}
            
            <div class="d-flex align-items-center justify-content-center my-5">
                <div class="text-center">
                    <h1 class="display-1 fw-bold border rounded-top shadow">ERROR</h1>
                    <hr>
                    <p class="fs-3"> <span class="text-danger">Ups!</span> Algo salió mal...</p>
                    <p class="lead">
                        Parece que ocurrió un error en la última acción que intentaste realizar.
                      </p>
                    <a href="/" class="btn btn-dark shadow mt-4">Ir a Home</a>
                </div>
            </div>

{% endblock %}