<div class="container">
  <div class="row">

    <div class="col-12 col-md-3">
      <div class="btn-group dropend">
        <button type="button" class="btn border shadow dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Filtrar Por&nbsp;&nbsp;</button>
        <ul class="dropdown-menu dropdown-menu-dark">
          <li><a class="dropdown-item" href="/tareas">Prioridad</a>
            <ul class="dropdown-menu dropdown-menu-dark submenu">
              <li><a class="dropdown-item" href="#">Alta</a></li>
              <li><a class="dropdown-item" href="#">Media</a></li>
              <li><a class="dropdown-item" href="#">Baja</a></li>
            </ul>
          </li>
          <li><a class="dropdown-item" href="/tareas/archivadas">Archivadas</a></li>
          {% if user.is_authenticated %}
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'MisTareas' %}">Mis Tareas</a></li>
          {% endif %}
        </ul>
      </div>
    </div>

    <div class="col-md-5"></div>

    <div class="col-12 col-md-4">
      <form class="d-flex" role="search" action="/tareas/" method="POST">
        {% csrf_token %}
        <input class="form-control shadow-sm me-2" type="search" name="tarea_buscada" placeholder="Buscar Tarea" required>
        <button class="btn btn-outline-dark rounded rounded-circle shadow-sm" type="submit">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </form>
    </div>

  </div>
</div>
  