<div class="container">
  <div class="row">
    <div class="col-12 col-md-3">
      <a style="text-decoration: none; color: #000;" href="/tareas">Activas</a>
      <a style="text-decoration: none; color: #000;" href="/tareas/archivadas">Archivadas</a>
    </div>
    <div class="col-md-5"></div>
    <div class="col-12 col-md-4">
      <form class="d-flex" role="search" action="/tareas/buscar-tarea" method="POST">
        {% csrf_token %}
        <input class="form-control shadow-sm me-2" type="search" name="tarea_buscada" placeholder="Buscar Tarea" required>
        <button class="btn btn-outline-secondary rounded rounded-circle shadow-sm" type="submit">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </form>
    </div>
  </div>
</div>
  