{%extends 'base.html'%}

{% block title %} Lista De Tareas {% endblock %}


{% block content %}

<div class="container p-0">
  <div class="row">
    <div class="col">
      <h1 class="text-center display-3 py-3">TAREAS</h1>
    </div>
  </div>
  <hr>
  <div id="seccion-tareas" class="row row-cols-1 row-cols-md-3 g-4 my-4">

    {% for tarea in tareas %}
    <div class="col-tarea col">
      <a href="{% url 'VerTarea' tarea.0 %}">
        <div class="card-tarea card shadow" id="card-tareas">
          <div class="card-body">
            <h5 class="text-center display-7 card-title text-dark">{{tarea.1}}</h5>
            <hr class="text-dark">
            <p class="card-text text-dark m-0">Prioridad: {{tarea.2}}</p>
            <p class="card-text text-dark m-0">Fecha limite: {{tarea.4|date}}</p>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
    
  </div>

  <div class="row">

    {% include 'paginado.html' %}
    
  </div>

</div>

{% endblock %}