{%extends 'base.html'%}

{% block title %} {{ tarea.1 }} {% endblock %}


{% block content %}

<div class="container my-4 border rounded shadow ">
  <div class="row mx-5 mt-4">
    <div class="col-8">
      <h1 class="text-dark display-7">{{ tarea.1 }}</h1>
    </div>
    <hr>
  </div>
    <form class="row mx-5 my-3">
      {% csrf_token %}
      <div class="col-md-6">
        <div class="input-group">
          <span class="input-group-text">Nombre</span>
          <input type="text" readonly class="form-control" name="nombre" value="{{ tarea.1 }}">
        </div>
      </div>
      <div class="col-md-4">
        <div class="input-group">
          <span class="input-group-text">Prioridad</span>
          <input type="text" readonly class="form-control" name="prioridad" value="{{ prioridad }}">
        </div>
      </div>
      <div class="col-md-12 my-4">
        <textarea type="text" readonly class="form-control" name="descripcion" rows="4" maxlength="250">{{ tarea.2 }}</textarea>
      </div>
      <div class="mb-2 row">
        <div class="col-md-4">
          <p>Fecha Inicio: {{ tarea.3|date }}</p>
        </div>
        <div class="col-md-4">
          <p>Fecha Finalización: {{ tarea.4|date }}</p>
        </div>
        <div class="col-md-4">
          <p>Creado por: {{ usuario.0 }}</p>
        </div>
      </div>
      <div class="row">

        {% if user.is_authenticated %}
        <div class="col-md-4">
          <span>Estado Actual: </span>
          <div class="btn-group border dropend mx-3">
            <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              {{ estado }}
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'ModificarEstado' tarea.0 1 %}">Pendiente</a></li>
              <li><a class="dropdown-item" href="{% url 'ModificarEstado' tarea.0 2 %}">En Proceso</a></li>
              <li><a class="dropdown-item" href="{% url 'ModificarEstado' tarea.0 3 %}">Finalizada</a></li>
            </ul>
          </div>
        </div>
        {% else %}
        <div class="col-md-4">
            <p>Estado Actual: {{ estado }}</p>
        </div>
        {% endif %}

      </div>

        {% if user.is_authenticated %}
        <div class="container mt-3">
          <div class="row">
            <hr>

              <div class="col-6 d-grid d-md-flex justify-content-md-start align-items-center my-4">
                {% if archivado == 1 %}
                <a href="{% url 'DesarchivarTarea' tarea.0 %}" class="btn btn-warning btn-md justify-content-md-start text-white shadow mx-2">Desarchivar</a>
                {% else %}
                <a href="{% url 'ArchivarTarea' tarea.0 %}" class="btn btn-warning btn-md text-white shadow mx-2">Archivar</a>
                <span><small><i>CUIDADO:</i> Si se archiva una tarea, no se listara.</small></span>
                {% endif %}
              </div>

              <div class="col-6 d-grid d-md-flex justify-content-md-end my-4">
                <a href="{% url 'ModificarTarea' tarea.0 %}" class="btn btn-dark btn-md text-white shadow mx-2">Modificar</a>
                <a href="{% url 'ExportarTarea' tarea.0  %}" class="btn btn-outline-dark btn-md shadow">Exportar</a>
              </div>

            </div>
          </div>
        </div>
        {% endif %}

  </form>
</div>

{% endblock %}